body {
  background-color: #ddd;
}

.privacy-policy {
  padding-top: 3rem;
}

.policy {
  max-width: 800px;
  padding: 2rem;
  margin: 4rem auto;
  background-color: white;
  border-radius: 40px;
}